 @import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
 :root{
    --color01:#F2A0C6;
    --color02:#F257AC;
    --color03:#6863F2;
    --color04:#9794F2;
    --color05:#77D9BD;
}
*{

   scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin-top: 50px;
    background-color: var(--color01)
}
img{
    border-radius:10% ;
    border-width: 4px;
    border-color: #F2387C;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
    max-width: 100%;
    
}
header{
    text-align: center;
    margin: 20px;
    background-image: linear-gradient(45deg, #ff8c9d79, #F2387C);
    padding: 20px;
    padding: 20px 20px;
    border-radius: 10px;
    font-family: 'google sans code', serif;
    color: white;
    font-weight: 600;
    text-shadow: black 1px 1px 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0.5);

}
header > a{
    padding: 20px;
}
#about{
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #F257AC;
    color: white;
    font-family: 'google sans code', serif;
    font-weight: 600;
    text-shadow: black 1px 1px 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0.5);
}
#about p{
    font-size: 1.1em;
    line-height: 1.5;
    margin: 10px 0;
    text-align: justify;
}
#social{
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #F257AC;
    color: white;
    font-family: 'google sans code', serif;
    font-weight: 600;
    text-shadow: black 1px 1px 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0.5);
    }
    a{
        color: var(--color05);
        text-decoration: none;
        font-family: 'google sans code', serif;
        font-weight: 600;
    }
    #video{
        
        margin: 20px;
        padding: 0 20px;
        border-radius: 10px;
        background-color: #F257AC;
        color: white;
        font-family: 'google sans code', serif;
        font-weight: 600;
        text-shadow: black 1px 1px 2px;
        border-radius: 45deg;
        min-width: 50vw;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px rgba(0, 0, 0.5);
        overflow: hidden;
    }
    iframe{
       
        border-radius: 10px;
        border-width: 8px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.44);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        background-color: var(--color02);
        width: 100%;
    }
    .emoji li ::before{
        display: inline-block;
        margin: 0 10px;
        padding: 10px;
        text-align: center;
        content: "💬";
    }
    .emoji{
        list-style: none;
        padding: 0;
        justify-content: center;
    }

.menu {
    display: flex;
    padding: 10px 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(242, 160, 198, 0.8); 
}
.menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 5px;
    font-family: 'google sans code', serif;
    font-weight: 600;
    background-image: linear-gradient(45deg, #ff8c9d79, #F2387C);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-shadow: black 1px 1px 2px; 
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
.menu a:hover {
    background-color: var(--color03);
    color: white;
    text-decoration: underline;
}